<p>Order ID: <%= @order.id %></p>
<p>Ordered on: <%= @order.created_at.to_formatted_s(:long) %></p>
<p>Last updated: <%= @order.updated_at.to_formatted_s(:long) %></p>
<p>Status: <%= @order.status %></p>
<section class="grid-container" id="items">
  <% @order.item_orders.each do |item_order| %>
  <section class ="grid-item" id="item_order-<%=item_order.id%>">
    <h2> <%=link_to item_order.item.name, item_path(item_order.item.id) %> </h2>
    <%= link_to image_tag(item_order.item.image), item_path(item_order.item.id), id: "image-#{item_order.item.id}" %>
    <p> <%= item_order.item.description %> </p>
    <p>Price: <%=number_to_currency(item_order.item.price) %> </p><br>
    <p>Amount: <%= item_order.quantity %></p>
    <p>Subtotal: <%= number_to_currency(item_order.subtotal) %></p>
  </section>
  <% end %>
</section>
<p>Total number of items: <%= @order.item_count %></p>
<p>Grand total: <%= number_to_currency(@order.grandtotal) %></p>
<% if @order.status != 'shipped' %>
  <%= link_to 'Cancel Order', "/profile/orders/#{@order.id}" %>
<% end %>
