<div class="newDiscountContainer">
  <h1>Add new discount</h1>
  <%= form_with model: [:merchant, @discount], local: true do |f| %>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name, value: @discount.name %></p>

    <p><%= f.label :item_count %></p>
    <p><%= f.text_field :item_count, value: @discount.item_count %></p>

    <p><%= f.label :percent %></p>
    <p><%= f.text_field :percent, value: @discount.percent %></p>
  
    <p><%= submit_tag 'Create Discount' %></p>
  <% end %>
</div>
