<div class='discountsContainer'>
  <section id="discount-<%= @discount.id %>">
    <h5><%= @discount.name %></h5>
    <p>Items required: <%= @discount.item_count %></p>
    <p>Discount: <%= @discount.percent %>%</p>
    <%= link_to 'Edit', edit_merchant_discount_path(@discount) %>
  </section>
</div>
