<section class = "shipping-address">
  <h1 align = "center">Recipient Info</h1>
  <center>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    <tr>
      <td><p><%= @order.name %> </p></td>
      <td><p><%= @order.address %> </p></td>
      <td><p><%= @order.city %> </p></td>
      <td><p><%= @order.state %> </p></td>
      <td><p><%= @order.zip %> </p></td>
    </tr>
  </table>
</section>

<h1 align = "center">Order Info</h1>
<center>
  <table>
    <tr>
      <th>Image</th>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Status</th>
    </tr>
  <% @order.item_orders.by_merchant(current_user.merchant.id).each do |item_order|%>
    <tr id="item-<%=item_order.item_id%>">
      <td><p class='small'><%= link_to image_tag(item_order.item.image), item_path(item_order.item.id) %></p></td>
      <td><p><%= link_to item_order.item.name, "/items/#{item_order.item_id}"%></p></td>
      <td><p><%= number_to_currency(item_order.price)%></p></td>
      <td><p><%= item_order.quantity%></p></td>
      <td><p>
        <% if item_order.fulfilled? %>
          already
        <% end %>
        <%= item_order.status%>
        <% if item_order.unfulfilled? %>
          <% if item_order.can_fulfill? %>
            - <%= link_to "Fulfill Order", merchant_item_order_path(item_order.id), method: :patch %>
          <% else %>
            - unable to fulfill
          <% end %>
        <% end %>
      </p></td>
    </tr>
  <% end %>
</table>
