<h1>All Items</h1>

<section class="grid-container">
  <% @items.each do |item| %>
    <section class = "grid-item" id= 'item-<%=item.id%>'>
      <%= render partial: '/partials/item_info', locals: {item: item, path: item_path(item.id)}%>
    </section>
  <% end %>
</section><br><br>

<table border="1" id="statistics">
    <tr>
        <td colspan="4">Most Popular Items</td>
        <td colspan="4">Least Popular Items</td>
    </tr>
    <tr>
        <td>Number<td>
        <td>Item</td>
        <td>Total Amount Ordered</td>
        <td>Number<td>
        <td>Item</td>
        <td>Total Amount Ordered</td>
    </tr>
    <%  @items.popular(5, 'asc').zip(@items.popular(5, 'desc')).each.with_index do |(unpop, pop), index| %>
      <tr>
        <td><%= index + 1 %><td>
        <td id="top-<%= index + 1 %>"><%= link_to pop.name, item_path(pop.id) %></td>
        <td id="top-quantity-<%= index + 1 %>"><%= pop.quantity_bought %></td>
        <td><%= index + 1 %><td>
        <td id="bottom-<%= index + 1 %>"><%= link_to unpop.name, item_path(unpop.id) %></td>
        <td id="bottom-quantity-<%= index + 1 %>"><%= unpop.quantity_bought %></td>
      </tr>
    <% end %>
</table>
