<div class="userInfo">
  <p><%= @user.name  %></p>
  <p><%= @user.address  %></p>
  <p><%= @user.city  %></p>
  <p><%= @user.state  %></p>
  <p><%= @user.zip  %></p>
  <p><%= @user.email  %></p>
  <p><%= @user.role  %></p>
  <%= link_to 'My Orders', "/admin/users/#{@user.id}/orders" unless @user.orders.empty? %>
</div>
