<%= form_with url: "/profile/user", local: true, method: :patch do |f| %>
  <p><%= label_tag :name %></p>
  <p><%= f.text_field :name, value: pre_fill[:name] %></p>

  <p><%= label_tag :address %></p>
  <p><%= f.text_field :address, value: pre_fill[:address] %></p>

  <p><%= label_tag :city %></p>
  <p><%= f.text_field :city, value: pre_fill[:city] %></p>

  <p><%= label_tag :state %></p>
  <p><%= f.text_field :state, value: pre_fill[:state] %></p>

  <p><%= label_tag :zip %></p>
  <p><%= f.text_field :zip, value: pre_fill[:zip] %></p>

  <p><%= label_tag :email %></p>
  <p><%= f.email_field :email, value: pre_fill[:email] %></p>

  <p><%= submit_tag "Update Profile" %></p>
<% end %>
