<div class="userInfo">
  <p><%= @user.name  %></p>
  <p><%= @user.address  %></p>
  <p><%= @user.city  %></p>
  <p><%= @user.state  %></p>
  <p><%= @user.zip  %></p>
  <p><%= @user.email  %></p>
  <p><%= @user.role  %></p>
  <%= link_to 'Edit Profile', profile_edit_path %>
  <%= link_to 'Edit Password', profile_edit_pw_path %>
  <%= link_to 'My Orders', profile_orders_path unless @user.orders.empty? %>
</div>
